@import '../../base.scss';

.channelHeader{
  border-bottom: 1px solid $border-color;
  &__left{
    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }
    button{
      background-color:#CC0000;
      color:#fff;
      border-radius: 2px;
      letter-spacing: 0.5px;
      width:5.14em;
      padding: 10px 16px;
      font-size:1rem;

      &.btn-gray{
        background-color: #ffffff1a;
        color:#AAAAAA;
      }
      &:hover{
        color:#fff;
      }
      &:focus{
        border:none;
        outline:none;
      }
    }
  }
  @media (max-width:$breakpoint-medium){
    .channelHeader{
      padding: 1rem 0 ;
      img{
        width: 50px;
        height: 50px;

      }
      h3{
        font-size: 1rem;
        margin: 0;
      }
    }
  }
