.comment{
  font-size:0.9rem;
  border-bottom: 1px solid #353956;
  img{
    width: 50px;
    height: 50px;
  }
  &__header{
    color:#fff;
  }
  &__show-more{
    border: 2px solid #353956;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0;
    background: #353956;
    cursor: pointer;
  }
  &__show-more:hover{
    background-color: transparent;
  }

}