.app_container {
  display: flex;
  // height: 90vh;

  margin-top: 10vh;
}
.app__main.container{
  max-width: 80%;
  & > .container{
    max-width:80%;
  }
}

// .app__main {
//   overflow-y: scroll;
// } 
.infinite-scroll-component {
  overflow: hidden;
}